<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Task Manager</title>
        <style>.htmx-swapping {opacity: 0;transition: opacity 1s ease-in-out;}</style>
    </head>
    <body class="bg-blue-500">
        <nav class="flex items-center justify-between px-4 py-6 text-center bg-gradient-to-r from-cyan-500 to-blue-500">
            <a  href="/" class="text-2xl text-white">My Tasks</a>
        </nav>
        <div class="w-4/5 my-6 mx-auto p-2 lg:p-10 bg-white rounded-xl">
            <form    class="flex mb-6 space-x-4" hx-post="/add-task/"
                     hx-target="#tasks" hx-swap="afterbegin"
            >
                <label>
                    <input type="text" name="title" class="title flex-1 px-4 py-3 bg-gray-200 rounded-xl" placeholder="Write the title here">
                </label>

                <button class="p-3 rounded-xl text-white bg-cyan-500 hover:bg-cyan-600">+</button>
            </form>

            <div class="flex py-3 rounded-xl bg-gray-100">
                <div class="w-4/5">
                    <p class="px-6 text-xs font-medium text-gray-500">Title</p>
                </div>

                <div class="hidden md:block w-1/5 px-6 text-right">
                    <p class="text-xs font-medium text-gray-500">Actions</p>
                </div>
            </div>

            <div class="divide-y divide-gray-200" id="tasks">
                {% for task in all_tasks %}
                    {% include 'core/subs/task.html' %}
                {% endfor %}
            </div>
        </div>
    </body>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (e) => {
            e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });

        document.body.addEventListener('htmx:afterRequest', (_e) => {
            document.querySelector("input.title").value = '';
        });
    </script>
</html>
